/* Place CSS styles here */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{ 
    color: rgb(156, 3, 3)
}

/* make the layout page aware */
.red-skewt-main-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* needs to be put the the child you want to expand */
main {
    background-image: url(../img/polkadot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex: 1;
}

.red-skewt-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.red-skewt-list-items{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 0.25rem;
}

.red-skewt-featured {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: rgb(156, 3, 3);
    padding: 32px;
    border-radius: 16px;
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    .red-skewt-featured {
        grid-template-columns: 1fr;
    }
}

.red-skewt-featured-imgae { 
    max-width: 400px;

}

.red-skewt-intro {
    background-color: rgb(156, 3, 3);
    padding: 32px;
    border-radius: 16px;
    margin-bottom: 100px;
}

.red-skewt-row {
    background-color: rgba(255, 255, 255, 0.95);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    flex: 1;
    margin-bottom: 32px;
    padding: 32px;
    border-radius: 16px;
    margin-bottom: 100px;
}


@media screen and (max-width: 768px) {
  .red-skewt-row {
    grid-template-columns: 1fr;
  }
}



footer {
    background: powderblue;
    padding: 20px;
}